<!-- reviews-index -->

{{#if currentUser}}
<div class="center">
<input type="text" class="search" placeholder="Search the Forum">
</div>

<h1>Ask Holbie</h1>
<div class="container">

<div class="left">
<h2>Forum posts should go here</h2>

{{#each reviews}}
<div class="forum-posts" style="border-width: 2px;">
<h2><a href="/reviews/{{this._id}}">{{this.title}}</a></h2>
<small>{{this.movieTitle}}</small>
<small>{{this.author.username}}</small>
</div>
{{/each}}>

</div>


<div class="right">
<button><a href="/reviews/new">Start New Discussion</a></button>
</div>

</div>




{{else}}

	{{> login}}
	
{{/if}}


