<!-- views/reviews-show.handlebars -->

<div class ="container">
<div class="col-sm-6 col-sm-offset-3">
<h1>{{review.title}}</h1>
<h2>{{review.movieTitle}}</h2>
{{{review.description}}}
<p>{{review.author.username}}</p>

{{#if postOwner}}
<p><a href="/reviews/{{review._id}}/edit">Edit</a></p>

<!-- DELETE BUTTON -->
<p><form method="POST" action="/reviews/{{review._id}}?_method=DELETE">
<button type="submit">Delete</button>
</form></p>
<hr>
{{/if}}
<!-- comment form -->
{{> comment-form}}
<hr>

<!-- Show Comments -->
{{#each comments}}
{{> comment}}
{{/each}}

</div>
</div>