<!-- reviews-index -->

{{#if currentUser}}
<div class="center">
<input type="text" class="search" placeholder="Search the Forum">
</div>

<h1>Ask Holbie</h1>
<div class="container">

<div class="left">


{{#each reviews}}
<div class="forum-posts" style="border-width: 2px;">
<h2><a href="/reviews/{{this._id}}">{{this.title}}</a></h2>
{{{this.description}}}<br>
<p>Submitted By: {{this.author.username}}</p>
<small>Category :{{this.category}}</small>
<hr>
</div>
{{/each}}

</div>


<div class="right">
<button><a href="/reviews/new">Start New Discussion</a></button>
<hr>
<p>Advice</p>
<p>Specializations</p>
<p>Jobs</p>
<p>C Programming</p>
<p>Python Programming</p>
<p>HTML/CSS/JS</p>
<p>Databases</p>
<p>Testing</p>
<p>Systems Engineering/Devops</p>
<p>Servers</p>
<p>Debugging</p>
<p>Random</p>
</div>

</div>




{{else}}

	{{> login}}
	
{{/if}}


