<!-- Topics -->
{{> navbar}}
<h1>Holbie's Notes: Topics</h1>

<div class="forum-topics">
<p>topics go here</p>
</div>

<a href="/topics/new">New Topic</a>


{{#each topics}}
<div class="forum-posts" style="border-width: 2px;">
<h2><a href="/topicss/{{this._id}}">{{this.title}}</a></h2>
{{{this.description}}}<br>
<p>Submitted By: {{this.author.username}}</p>
<small>Category :{{this.category}}</small>
<hr>
</div>
{{/each}}
